.container {
  --lightGrey: #f6f7f8;
  --normalGrey: #b4c3ce;
  --darkGrey: #555555;
  text-align: left;
  margin-top: 5px;
}

.label {
  font-size: 0.9rem;
  color: var(--darkGrey);
  font-weight: bold;
  display: block;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: var(--darkGrey);
  font-size: 1rem;
  border: 2px solid var(--normalGrey);
  border-radius: 4px;
  transition: 0.5s;
}

/* .input:hover {
  background-color: var(--lightGrey);
} */

.input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  outline: none;
}

.input:disabled {
  background-color: var(--normalGrey);
}

.input:invalid, .error {
  border: 2px solid red;
}
