.dropContainer{
  position: absolute;
  width: 100%;
}

.open {}

.close {
  visibility: hidden
}

.top {
  top: -160px;
}
.bottom{
  top: 70px;
}

.loading {
  top: 60px;
  color: #555;
  font-weight: bold;
  display:inline-block;
  font-family: monospace;
  position: absolute;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}